.chess-board-container{
    display: inline-block;
   }
   
   .board-row{
       display: flex;
   }
   
   .square{
       width: 20px;
       height: 20px;
   }
   
   .white{
       background-color: wheat;
   }
   
   .black{
       background-color: black;
   }